<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiY3liZXJra2siLCJhIjoiY21rYXgybmR5MHBiMTNmc2Via2N4cXJwZyJ9.2cDXOLDImevZU6b_nRNt4A</string>
	<key>MAPBOX_ACCESS_TOKEN</key>
	<string>pk.eyJ1IjoiY3liZXJra2siLCJhIjoiY21rYXgybmR5MHBiMTNmc2Via2N4cXJwZyJ9.2cDXOLDImevZU6b_nRNt4A</string>
	<key>API_BASE_URL</key>
	<string>https://api.streetstamps.cyberkkk.cn</string>
	<key>GOOGLE_IOS_CLIENT_ID</key>
	<string>731829514501-t0hm8gg4rj83b8slf5cgodfb1adiohjq.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.731829514501-t0hm8gg4rj83b8slf5cgodfb1adiohjq</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要保存旅程照片到您的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>选择照片添加到你的记忆</string>
	<key>NSCameraUsageDescription</key>
	<string>我们需要访问您的摄像头来拍摄旅程照片</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于在新旧设备之间局域网传输私密旅程数据</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要您的位置来追踪您的旅程</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要您的位置来持续追踪您的旅程</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
